*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  margin: 133px 30px;
  max-height: 534px;
  max-width: 1140px;
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-areas:
  "result content";
  place-items: end;
  gap: 30px;
}

.result {
  grid-area: result;
  width: 100%;
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: end;
}

.result__video-container {
  max-height: 386px;
  width: 100%;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*gap: 40px;*/
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width:fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

input {
  font-family: inherit;
  color: inherit;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  background-color: transparent;
  appearance: none;
}

input:focus {
  outline: none;
}

/*
input:focus-visible {
  outline: 1px solid -webkit-focus-ring-color;
}
*/

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  border: solid 1px #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 19px;
  height: 19px;
  position: absolute;
  background-color: transparent;
}

.search-form__label:hover {
  /*cursor: pointer;*/
  text-decoration: underline;
}

.search-form__pseudo-checkbox:checked::after {
  background-color: #fff;
}

.content__details {
  grid-area: content;
  width: 100%;
  min-height: 534px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: start;
  font-family: Oswald;
  font-weight: 700;
}

.content__list {
  max-height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
}

.content__video-card {
  display: grid;
  grid-template-columns: 196px 194px;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title {
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 1.0;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  line-clamp: 6;
  overflow: hidden;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: solid 1px #fff;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.more-button {
  width: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
}
